.details {
    text-align: center;
}

.title,
.author,
.original-author {
    color: rgb(153, 0, 153);
    text-shadow: 2px 2px rgb(255, 203, 255);
    font-weight: bold;
}

.description {
    width: 100%;
}
