.layer {
    position: relative;
    font-size: 11px;
}
.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.child > * {
    display: inline-block;
    vertical-align: middle;
}
.delete-button {
    font-size: 12pt;
    margin: 0 2px;
}
input {
    font-size: inherit;
}
input[name="name"] {
    width: 140px;
}
input[name="volume"] {
    width: 20px;
}
